body {
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
}

#message-container {
    width: 40%;
    height: 70%;
    max-width: 5000px;
    justify-content: bottom;
}

#message-container div {
    background-color: #ccc;
    padding:5px;
}

#message-container div:nth-child(2n) {
    background-color: #fff;
}

#send-button {
    height: 25px;
    width: 250x;
}
